body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  color: white;
  text-align: center;
  text-shadow: 2px 2px #1E1E1E;
  margin-bottom: 65px;
}

header {
  background-color: #FC4D1E;
  padding: 6px;
  border-bottom: 2px solid #1E1E1E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

footer {
  width: 100%;
  background-color: #c1bec0;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #242223;
}

#logo {
  height: 80px;
}

.personalLinks {
  background-color: #3f3f3f;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projectLinks {
  color: #FC4D1E;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cardVertical {
  background-color: #c1bec0;
  color: white;
  border-radius: 10px;
  border: 1px solid #242223;
  width: 15%;
  max-width: 290px;
  height: 10%;
  margin-right: 2%;
  float: left;
  box-shadow: 8px 8px 8px 8px rgba(99,30,12,.8);
}

.firstPersonalCardMarginLeft{
  margin-left: 25.5%;
}

.firstPortfolioCardMarginLeft {
  margin-left: 34%;
}

.firstCardMarginLeft {
  margin-left: 17%;
}

.portfolioLogo {
  max-width: 170px;
  min-height: 80px;
  max-height: 100px
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
